#container
	= render 'layouts/sidebar-nav'
	#content
		%h2.content-heading Listings
		.message-bar.error
			%p
				%span.icon Error:
				Uh-oh, something broke!
				%a.btn.close{:href => "#"} Close
		.message-bar.warning
			%p
				%span.icon Error:
				Uh-oh, something broke!
				%a.btn.close{:href => "#"} Close
		.message-bar.success
			%p
				%span.icon Error:
				Uh-oh, something broke!
				%a.btn.close{:href => "#"} Close
		#listings
			#listing
				#home-img
					%img{:src => image_path("home-img.jpg")}
				%ul#listing-info
					%li.address 
						%h2 12842 King Canyon Rd.
					%li.city-state 
						%h5 Victorville, Ca 92392
					%li.listing-type 
						%h5 Single Family Home
					%li.price 
						%h5 Price: 1,200,000
					%li#sms SMS: Text 96 to (714)202-0289
				
				.right-details
					.qr-container
						#qr-code
							%img{:src => image_path("qr.png")}
						#qr-download
							%img{:src => image_path("qr-download.png")}								
								%span#download Download
					.options
						%ul
							%li#view
								%a{:href => "#"}
							%li#edit
								%a{:href => "#"}
							%li#delete
								%a{:href => "#"}
			%hr
