<div id="container">
	<div id="sidebar">
		<h2>Welcome, User</h2>
		<div class="sidebar-nav">
			<ul>
				<li id="profile-link"><a href="" class="active"><b>Profile</b></a></li>
				<li id="listings-link"><a href=""><b>Listings</b></a></li>
				<li id="leads-link"><a href=""><b>Leads (coming soon)</b></a></li>
				<li id="sms-link"><a href=""><b>SMS Credits</b></a></li>
				<li id="sign-link"><a href=""><b>Sign Printing</b></a></li>
				<li id="notifications-link"><a href=""><b>Notifications</b></a></li>
				<li id="newsletter-link"><a href=""><b>Newsletter</b></a></li>
				<li id="settings-link"><a href=""><b>Settings</b></a></li>										
			</ul>
		</div><!-- end sidebar-nav -->	
		<h2>Latest News</h2>
		<div class="latest-news">
			<ul>
				<li>
					<h3><a href="">Very latest news</a></h3>
				    <p>This is an example of the latest news</p>	
				</li>
				<li>
					<h3><a href="">Very latest news</a></h3>
				    <p>This is an example of the latest news</p>	
				</li>
			</ul>
		</div><!-- end latest-news -->
	</div><!-- end sidebar -->
	<div id="content">
		<h2 class="content-heading">Profile Website</h2>
	</div><!-- end content -->
</div><!-- end container -->

