<div id="container">
<%= render 'layouts/sidebar-nav'%>
	<div id="content">
		<h2 class="content-heading">Listings</h2>
		<div class="message-bar error">
			<p>
				<span class="icon">Error:</span>
				Uh-oh, something broke!
				<a class="btn close" href="#">Close</a>
			</p>
		</div><!-- end message-bar error -->
		<div class="message-bar warning">
			<p>
				<span class="icon">Error:</span>
				Uh-oh, something broke!
				<a class="btn close" href="#">Close</a>
			</p>
		</div><!-- end message-bar error -->
		<div class="message-bar success">
			<p>
				<span class="icon">Error:</span>
				Uh-oh, something broke!
				<a class="btn close" href="#">Close</a>
			</p>
		</div><!-- end message-bar error -->
		<div id="listings">
			<div id="listing">
				<div id="home-img">
					<img src="../images/home-img.jpg">
				</div><!-- end home-img -->
				<ul id="listing-info">
					<li id="address"><h2>12842 King Canyon Rd.</h2></li>
					<li id="city-state"><h5>Victorville, Ca 92392</h5></li>
					<li id="listing-type"><h5>Single Family Home</h5></li>
					<li id="price"><h5>Price: 1,200,000</h5></li>
					<li id="sms">SMS: Text 96 to (714)202-0289</li>
				</ul>
				<div class="right-details">
					<div class="qr-container">
						<div id="qr-code">
								<img src="../images/qr.png">
						</div><!-- end qr-code -->
						<div id="qr-download">
								<img src="../images/qr-download.png">
								<span id="download">Download</span>
						</div><!-- end qr-download -->
					</div><!-- end qr-container -->
					<div class="options">
						<ul>
							<li id="view"><a href="#"></a></li>
							<li id="edit"><a href="#"></a></li>
							<li id="delete"><a href="#"></a></li>		
						</ul><!-- end ul -->
					</div><!-- end options -->
				</div><!-- end right-details -->	
			</div><!-- end listing -->
			<hr>
		</div><!-- end listings -->
	</div><!-- end content -->
</div><!-- end container -->
