/* h selectors */
h1 {
	font-size: 2.5em;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0.5em;
}

 hr {
	background: url(line-break.jpg) repeat-x;
	margin: 0 auto;
	height: 2px;
}

.clr{
	clear:both;
}
body {
	background: url('bg.jpg');
	margin: 0 auto;
}

.pageHeader {
	background: url('header-bg.jpg');
	height: 81px;
	margin: 0px auto;
	padding: 0px auto;
}

.wrapper {
	width: 850px;
	margin: 0 auto;
	padding: 0 auto;
}

.logo {
	margin-top: 28px;
	margin-left: 18px;
}

a {
	color: #b4b5b6;
	text-decoration: none;
}

a:hover {
	color: #b4b5b6;
}

a:visited {
	color: #b4b5b6;
}

nav {
	
	width: 450px;
	position: absolute;
	right: 20px;
	top: 28px;
}

nav ul {
	width: 350px;
}

nav ul li {
	list-style: none;
	display: inline;
	color: #b4b5b6;
	text-shadow: 0px -1px 1px #000;
	float: left;
	font-weight: bold;
}

nav ul li a {
	padding-right: 25px;
}

nav ul li a:hover {
	color: white;
}

.nav-icon{
	margin-right: 5px;
	margin-bottom: -7px;
}

.search-container {
	background: #3a4047;
	width: 140px;
	height: 25px;
	float: left;
	display: block;
    box-shadow: 0px -2px 1px #212429, 0 1px 1px #6a6d74;
}

#search {
    background: none repeat scroll 0 0 #3A4048;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
    float: right;
    font-size: 13px;
    height: 28px;
    line-height: 30px;
    margin: 6px 0 0 15px;
    position: relative;
}

#search .text {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 20px 20px 20px 20px;
    height: 23px;
    line-height: 23px;
    padding-left: 25px;
}

#search .submit {
    background: url("img/sprite.png") no-repeat scroll -5px -414px transparent;
    border: medium none;
    border-radius: 10px 10px 0 10px;
    box-shadow: none;
    cursor: pointer;
    float: left;
    height: 14px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 14px;
}

.search-container:focus {
box-shadow: 0px -2px 1px #212429, 0 1px 1px #6a6d74;
}

.search-wrap {
	width: 450px;
}
.right-round {
	border-radius: 0px 16px 16px 0px;
	-moz-border-radius: 0px 16px 16px 0px;
	-webkit-border-radius: 0px 16px 16px 0px;
}

.left-round {
	border-radius: 16px 0px 0px 16px;
	-moz-border-radius: 16px 0px 0px 16px;
	-webkit-border-radius: 16px 0px 0px 16px;
}


.search-img{
	margin: 5px 0 0 5px;
}

.search-img-bg {
	background: #3a4047;
	width: 25px;
	height: 27px;
	float: left;
	display: block;
	box-shadow: 0px -2px 1px #212429, 0 1px 1px #6a6d74;
}

.left-content {
	width: 500px;
	margin-top: 68px;
	float: left;
}

.right-content {
	width: 350px;
	margin-top: 5px;
	float: left;
}

.form-header {
		
}

.form-header h1 {
	color: rgb(126, 126, 126);
	font-weight: bold;
}

#myForm {
	margin-top: 15px;
}

#myForm button{
	float: left;
}
.iphone {
	width: 325px;
	height: 628px;
	float:left;
}

/* Video Tutorials Platform */

.tutorials {
	width: inherit;
	margin-top: -150px;
	float: left;
}

.tutorials ul {
	margin:0 auto;
	width: inherit;
	float: left;
}

.tutorials ul li {
	list-style: none;
	width: 133px;
	height: 112px;
	float: left;
	display: inline;
	padding-right: 30px;
}

.tuts h4 {
	text-align: center;
	color: rgb(126,126,126);
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
}
.tuts-shadow {
	width: 143px;
	height: 18px;
}
ul, ol {
    margin: 0 0em 0em 0;
    padding-left: 0em;
}
/* Footer */

.upper-platform {
	background-image: url("platform-bg.jpg");
	height: 94px;
	margin-top: -75px;
}

footer {
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
}

/* Dashboard */

#container{
	background: none repeat scroll 0 0 #515E68;
	position: relative;
}

#sidebar {
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
	background-color: #515E68;
}

#sidebar h2 {
font-size: 11px;
text-transform: uppercase;
color: 
#E7ECF1;
background: 
#70818D;
height: 25px;
line-height: 25px;
padding: 0 22px;
margin: 0;
text-shadow: 0 1px 1px 
rgba(0, 0, 0, 0.75);
background: 
#7D8F9D;
background: -moz-linear-gradient(top, 
rgba(125, 143, 157, 1) 0%, 
rgba(99, 114, 125, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
rgba(125, 143, 157, 1)), color-stop(100%,
rgba(99, 114, 125, 1)));
background: -webkit-linear-gradient(top, 
rgba(125, 143, 157, 1) 0%,
rgba(99, 114, 125, 1) 100%);
background: -o-linear-gradient(top, 
rgba(125, 143, 157, 1) 0%,
rgba(99, 114, 125, 1) 100%);
background: -ms-linear-gradient(top, 
rgba(125, 143, 157, 1) 0%,
rgba(99, 114, 125, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8f9d', endColorstr='#63727d',GradientType=0 );
background: linear-gradient(top, 
rgba(125, 143, 157, 1) 0%,
rgba(99, 114, 125, 1) 100%);
border-top: 1px solid 
#C8CFD6;
border-bottom: 1px solid 
#272C31;
}

.sidebar-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    background: url("navigation-normal.png") repeat-x scroll 0 0 transparent;
    height: 37px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

.sidebar-nav a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 37px;
    left: 0;
    padding: 0 12px 0 20px;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    top: 0;
    width: 166px;
}

.sidebar-nav a b {
    background: url("sprite.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 8px 0;
    padding-left: 28px;
}


.sidebar-nav #profile-link b {
	background-position: 0 -66px;
}

.sidebar-nav #listing-link b {
	background-position: 0 0px	;
}


.sidebar-nav #leads-link b {
	background-position: 0 -22px;
}

.sidebar-nav #sms-link b {
	background-position: 0 -44px;
}

.sidebar-nav #signs-link b {
	background-position: 0 -66px;
}

.sidebar-nav #notifications-link b {
	background-position: 0 -110px;
}

.sidebar-nav #newsletter-link b {
	background-position: 0 -132px;
}

.sidebar-nav #settings-link b {
	background-position: 0 -154px;
}

.sidebar-nav li:hover, .navigation li.current{
z-index: 2;
}

.sidebar-nav a:hover, .sidebar-nav li.current a{
text-decoration: none;
background: url('navigation-hover.png') no-repeat;
padding: 3px 30px 3px 20px;
top: -3px;
}

.sidebar-nav .active {
	text-decoration: none;
	background: url('navigation-hover.png') no-repeat;
	padding: 3px 30px 3px 20px;
	top: -3px;
}


.latest-news li {
    background: url("sidebar-underline.png") repeat-x scroll left bottom transparent;
	padding: 14px 22px 1px;
}

.latest-news h3 {
    color: #99C9FF;
    display: block;
    font-size: 12px;
    padding-left: 12px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.latest-news h3 a{
    color: #99C9FF;
    margin-top: 0px;
}

.latest-news h3:before{
content: '\00BB';
font-size: 18px;
position: absolute;
top: -1px;
left: 0;
}

.latest-news p {
    font-size: 11px;
	color: #ffffff;
}

/* Content */

#content {
position: relative;
top: -15px;
margin-bottom:-15px;
margin-left: 200px;
padding-bottom: 800px;
}

#content {
background: #e2e6eb url(bg.jpg);
border: 2px solid #FFF;
box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
color: #4f5152;
-moz-box-shadow: inset 15px -10px 20px rgba(186, 186, 186, 0.9);
-webkit-box-shadow: inset 15px -10px 20px rgba(186, 186, 186, 0.9);
box-shadow: inset 15px -10px 20px rgba(186, 186, 186, 0.9);
}

#content h1, #content h2, #content h3,
#content h3, #content h4, #content h6{
color: #3d3e3f;
}

#content .content-heading {
color: #555;
padding-left: 2px;
padding-top: 5px;
padding-bottom: 5px;
margin: 30px 0 0 30px;
}

.btn, .icon, .action {
    overflow: hidden;
    text-indent: -999em;
}

.module-inner, .message-bar {
margin: 10px 10px 0 10px;
border-radius: 5px;
}

.message-bar {
font-size: 12px;
color: #FFF;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
padding: 1px;
}

.message-bar p {
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
border-radius: 4px;
padding: 10px 15px 10px ;
margin: 0;
background-position: 0 0;
background-repeat: no-repeat;
}

.message-bar .icon {
float: left;
width: 14px;
height: 15px;
margin-right: 10px;
background: url(sprite.png);
}

.message-bar .close {
float: right;
width: 16px;
height: 16px;
background: url(sprite.png) 0 -519px;
}

.error {
display: none;
background: #e4906e; /* Old browsers */
background: -moz-linear-gradient(top, #e4906e 0%, #ac532e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4906e), color-stop(100%,#ac532e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4906e 0%,#ac532e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4906e 0%,#ac532e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4906e 0%,#ac532e 100%); /* IE10+ */
background: linear-gradient(top, #e4906e 0%,#ac532e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4906e', endColorstr='#ac532e',GradientType=0 ); /* IE6-9 */
} 

.error p {
background: #d38764; /* Old browsers */
background: -moz-linear-gradient(top, #d38764 0%, #cc7854 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d38764), color-stop(100%,#cc7854)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d38764 0%,#cc7854 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d38764 0%,#cc7854 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d38764 0%,#cc7854 100%); /* IE10+ */
background: linear-gradient(top, #d38764 0%,#cc7854 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38764', endColorstr='#cc7854',GradientType=0 ); /* IE6-9 */
}

.error .icon {
background-position: 0 -474px;
}

.warning {
display: none;
background: #cfb945; /* Old browsers */
background: -moz-linear-gradient(top, #cfb945 0%, #ab9938 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfb945), color-stop(100%,#ab9938)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cfb945 0%,#ab9938 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cfb945 0%,#ab9938 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cfb945 0%,#ab9938 100%); /* IE10+ */
background: linear-gradient(top, #cfb945 0%,#ab9938 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb945', endColorstr='#ab9938',GradientType=0 ); /* IE6-9 */
} 
.warning p {
background: #d7c665; /* Old browsers */
background: -moz-linear-gradient(top, #d7c665 0%, #d1bd55 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7c665), color-stop(100%,#d1bd55)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d7c665 0%,#d1bd55 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d7c665 0%,#d1bd55 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d7c665 0%,#d1bd55 100%); /* IE10+ */
background: linear-gradient(top, #d7c665 0%,#d1bd55 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7c665', endColorstr='#d1bd55',GradientType=0 ); /* IE6-9 */
}

.warning .icon {
background-position: 0 -489px;
height: 12px;
margin-top: 3px;
}

.success {
display: none;
background: #9fbb35; /* Old browsers */
background: -moz-linear-gradient(top, #9fbb35 0%, #768c26 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fbb35), color-stop(100%,#768c26)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9fbb35 0%,#768c26 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9fbb35 0%,#768c26 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9fbb35 0%,#768c26 100%); /* IE10+ */
background: linear-gradient(top, #9fbb35 0%,#768c26 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fbb35', endColorstr='#768c26',GradientType=0 ); /* IE6-9 */
}

.success p {
background: #a6c267; /* Old browsers */
background: -moz-linear-gradient(top, #a6c267 0%, #99b957 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6c267), color-stop(100%,#99b957)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a6c267 0%,#99b957 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a6c267 0%,#99b957 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a6c267 0%,#99b957 100%); /* IE10+ */
background: linear-gradient(top, #a6c267 0%,#99b957 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c267', endColorstr='#99b957',GradientType=0 ); /* IE6-9 */
}

.success .icon {
background-position: 0 -504px;
}

/* Listing-Listings */

#listings {
	margin: 10px 35px 0px 35px;
	padding: 0 auto;
}

#listing {
	background-image: url(line-break.jpg);
	background-repeat: repeat-x;
	padding: 13px 0px 13px 0px;
	clear: both;
	min-width: 630px;
}

#home-img {
	outline: 1px solid rgba(215, 208, 208, .9);
	border: 1px solid rgba(255, 255, 255, .9);
	padding: 0px;
	float: left;	
}

#listing-info {
	margin: 10px;
	width: 240px;
	float: left;
}

#listing-info ul {
	list-style: none;
}

#listing-info li {
	list-style: none;
	margin-top: 5px;
	
}

#listing-info h5 {
	font-weight: normal;
}

#listing-info h5:before {
	color: ;
	content: '\2023';
	font-size: 18px;
	margin-right: 5px;
}

#sms, #download{
	font-size: 16px;
	color: #0c85c3;
}

.right-details {
	float: right;
}
/* qr-code*/

.qr-container {
	float: left;
	margin-right: 30px;
}

#qr-code img {
	margin-left: 3px;
}

#qr-download img {
	width: 21px;
	height: 21px;
	vertical-align: middle;
}

.options {
	float: right;
    padding: 10px;
	width: 20px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.options li {
	height: 10px;
	padding: 5px 0 15px;
	list-style: none;
	border-top: 1px solid gray;
}

.options a{
	background: url("sprite.png") no-repeat scroll 0 0 transparent;
	float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 28px;
}

.options #view a {
	background-position: 0 -220px;
}

.options #edit a {
	background-position: 0 -242px;
}

.options #delete a {
	background-position: 0 -264px;
}